body{
    background: rgb(200, 255, 255);
    border: 2px solid #212738;
    line-height: 1.4;
    margin: 8px auto;
    max-width: 1000px;
    outline: 1px solid #bbb;
    padding: 10px;
}

h1{
    background: rgb(161, 161, 235);
}

footer{
    background: rgb(162, 207, 226);
    font-size: medium;
    padding: 10px;
}

h1, h2, p{
    text-align: center;
}

.gallery_img{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 25px;
}

td{
    text-align: center;
    font-size: large;
}

audio, video{
    margin: 0 auto;
    display: block;
    padding: 25px;
}

#divbody{
    background: rgb(212, 255, 233);;
}

button{
    margin: 0 auto;
    display: block;
    padding: 15px;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
}