#topHeader {
    padding: 25px;
}

#divTable{
    padding: 5%;

    table {
        width: 80%;
        margin: auto;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.bordered-table {
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: inherit;
  }
  
  .bordered-table th,
  .bordered-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }