
      .image_logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        max-width: 500px;
        max-height: 500px;
      }
      
      h1{
        text-align: center;
        font-size: 60px;
        color: #c7470c;
      }
      
      .gallery{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 100px;
      }
      
      .gallery_head, h2{
        text-align: center;
        color: #c7470c;
        font-size: 30px;
      }
      
      .gallery_img{
        display: inline-block;
        width: 300px;
        height: 300px;
        margin: 25px;
        border-radius: 50%;
      }
      
      p{
        text-align: center;
        font-size: large;
      }
      
      .centre{
        margin: 0 auto;
        display: block;
      }
      
      button{
        background-color: #c7470c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        cursor: pointer;
        width: 120px;
        height: 45px;
        border-radius: 25px;
      }

      table{
        border: 1px solid black;
        border-collapse: collapse;
        height: 150px;
        width: 700px;
        margin-left: auto; 
        margin-right: auto;
      }

      th, td{        
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 5px;
      }

      .details{
        text-align: left;
        border: none;
      }

      input{
        height: 40px;
        width: 500px;
        border: 2px solid #c7470c;
        border-radius: 25px;
        padding-left: 20px;
      }

      #divSignUp{
        max-width: 500px;
        display: block;
        margin: 0 auto;
      }

      .formip, label{
        margin: 10px;
        font-size: large;
      }

      #gender{
        height: 45px;
        width: 530px;
        border: 2px solid #c7470c;
        margin: 10px;
        border-radius: 25px;
        padding-left: 20px;
        padding-right: 10px;
      }